[Unit]
Description=Doorgy Service Agent
Documentation=https://github.com/Anthonykung/Doorgy

[Service]
ExecStart=/usr/bin/node /usr/local/src/doorgy/doorgy.js
WorkingDirectory=/usr/local/src/doorgy
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target